@media only screen and (min-width: 1281px){
    .filtri{
        display:block;
        position: relative;
      }
      .navBarPc{
        display:list-item;
      }
      .frecciaIndietro{
        display: none;
      }
      .dropdown-toggle {
        margin-top: 1px;
        margin-left: 0px;
    }
    .circle-data{
      width: 300px;
      height: 300px;
      border: 2px solid rgb(190, 39, 175);
      border-radius: 50%;
    }

    .filtriCell{
      display: none;
    }
    .dontWorkMobile{
      display:list-item;
    }
}