body{
  overflow-x: hidden;
  background-color: black;
}
:root{
  --c-main:blue ;
  --c-second:rgb(190, 39, 175);
  --c-accen: black ;
}.txtMain{
  color: var(--c-main);
}
.txtAccent{
  color: var(--c-accen);
}
.txtSecond{
  color: var(--c-second);
}
.bgMain{
  background-color: var(--c-main);
}
.bgAccent{
  background-color: var(--c-accen);
}
.bgSecond{
  background-color: var(--c-second);
}
.linklink{
  margin-left: 1200px;
}
.iconcaFirst{
  color: rgb(190, 39, 175);
}

.titoloUno{
  color:rgb(190, 39, 175) ;
  animation-name: titoloGrande;
  animation-duration: 2s; 
  animation-delay: 1s;
  
}
@keyframes titoloGrande {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

.btn_VA_over{
  background-color: black;
  border: 1px solid transparent;
  color: white;
  
}

.btn_VA_over:hover{
  color: rgb(255, 9, 230);
}
.btn_VA_overB{
  background-color: black;
  border: 1px solid transparent;
  
  
}
.btn_VA_overB:hover{
  color:#5264AE;
  
  
}
.btn_VA{
  background-color: black;
  border: 1px solid hwb(306 15% 25%);
  animation: btnVA;
  animation-duration: 2s; 
  animation-delay: 1s;
}
@keyframes btnVA {
  0% {
    -webkit-transform: translateX(-150px);
    transform: translateX(-150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.circle-data{
  width: 150px;
  height: 150px;
  border: 2px solid rgb(190, 39, 175);
  border-radius: 50%;
}
.img_gif{
  background: radial-gradient(circle, rgba(0, 0, 0, 0) 30%, rgb(0, 0, 0,1) 70%), url(../media/gitMondo.gif) ;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 500px;
  height: 400px;
  
}
.prodottiCaricatiRmv{
  opacity: 0;
}
.titoloDue{
  color:rgb(190, 39, 175) ;
  animation-name: titoloPiccolo;
  animation-duration: 2s; 
  animation-delay: 1s;
}
@keyframes titoloPiccolo {
  0% {
    -webkit-transform: translateX(150px);
    transform: translateX(150px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.lavoraConNoi{
  color: white;
}
.lavoraConNoi:hover{
  color: rgb(58, 67, 238);
}
.iconsOver:hover{
  color: rgb(58, 67, 238);
}
/* style delle cards */
.box-color {
  background-color: hsl(242, 14%, 10%);
}
.bg-mix{
  color:rgb(211, 198, 198) ;
}
.btnS{
  color:#5264AE;
}
.btnS:hover{
  color:rgb(32, 12, 114);
}
.footer__cont{
  background-color: rgb(141, 1, 127);
}


/* CSS PER ACCEDI.HTML */
.login-box {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 400px;
  padding: 40px;
  transform: translate(-50%, -50%);
  background: rgba(24, 20, 20, 0.987);
  box-sizing: border-box;
  box-shadow: 0 15px 25px rgba(0,0,0,.6);
  border-radius: 10px;
}
.login-box .user-box {
  position: relative;
}
.login-box .user-box input {
  width: 100%;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background: transparent;
}
.login-box .user-box label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 16px;
  color: #fff;
  pointer-events: none;
  transition: .5s;
}
.login-box .user-box input:focus ~ label,
.login-box .user-box input:valid ~ label {
  top: -20px;
  left: 0;
  color: #bdb8b8;
  font-size: 12px;
}
.login-box form a {
  position: relative;
  display: inline-block;
  padding: 10px 20px;
  color: #ffffff;
  font-size: 16px;
  text-decoration: none;
  text-transform: uppercase;
  overflow: hidden;
  transition: .5s;
  margin-top: 40px;
  letter-spacing: 4px
}
.login-box a:hover {
  background: rgb(190, 39, 175);
  color: #fff;
  border-radius: 5px;
  box-shadow: 0 0 5px rgb(190, 39, 175),
  0 0 25px rgb(190, 39, 175),
  0 0 50px rgb(190, 39, 175),
  0 0 100px rgb(190, 39, 175);
}
.login-box a span {
  position: absolute;
  display: block;
}
@keyframes btn-anim1 {
  0% {
    left: -100%;
  }
  50%,100% {
    left: 100%;
  }
}
.login-box a span:nth-child(1) {
  bottom: 2px;
  left: -100%;
  width: 100%;
  height: 2px;
  background: linear-gradient(90deg, transparent, rgb(190, 39, 175));
  animation: btn-anim1 2s linear infinite;
}

.icons_accedi{
  color: white;
  margin-left: 30%;
}
.icons_accedi:hover{
  color: rgb(190, 39, 175);
}
.filtri{
  display: none;
}
.navBarPc{
  display:none;
}
.frecciaIndietro{
  color: white;
  
}
.frecciaIndietro:hover{
  color:rgb(190, 39, 175) ;
}
.dropdown-toggle {
  margin-left: -12px;
}
.filtriCell{
  width: 100% !important;
}
.movement_down{
 padding: 10px;
 margin-top: -18px; 
}
.textInput{
  font-size: 30px;
}
.dontWorkMobile{
  display: none;
}